
img {
    height: 50%;
    width: auto;
    display : block;
    margin: auto;
}

iframe {
    display : block;
    margin: auto;
}

h1 {
    text-align: center;
}

table {
    border-collapse: collapse;
    margin : 5px 0 5px 0;
}

td {
    border: 1px solid black;
    text-align: center;
    min-width: 33%;
    padding : 5px;
}

tr>:nth-child(2n){ 
    background: #FFE4C4;
}

a {
    text-decoration: none;
}